@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

html {
  font-family: "Source Sans 3", sans-serif;
  font-size: 2.76vw;
  /* transition: all 1s; */
  @media screen and (max-width: 768px) {
    font-size: 4.4vw;
  }
}

:root {
  height: 40px;
  --font-sans: "Source Sans 3", sans-serif;
  --clr1: #802a8f;
  --clr2: #f0d0dd;
  --fss-1: 1rem; /* 22px */
  --fss-2: 0.6226rem; /* 33px */
  --fss-3: ;
  --fss-4: ;
  --fss-5: ;
  --fss-33: 0.6226rem;
  --fss-16: 0.7272rem; /* 16px */
  --pic-s: 2.6rem;
  --common-font: 1rem;
  @media (max-width: 768px) {
    --fss-1: 0.6226rem;
    --fss-2: ;
    --fss-3: ;
    --fss-4: ;
    --fss-5: ;
    --pic-s: 2.364rem;
  }
}

.custom-nav {
  height: 100px;
}

nav img {
  height: 1.6rem;
  width: 4.339rem;
  @media screen and (max-width: 768px) {
    height: 1.4545rem;
    width: 4rem;
  }
}

.banner {
  position: relative;
  padding: 20px 0;
  border: 2px solid greenyellow;
  background: url("../assets/img6.png");
  background-size: cover;
  color: white;
  @media (max-width: 768px) {
    padding: 0 !important;
  }
}

.banner-left-section {
  @media screen and (max-width: 768px) {
    margin: 30px 10px;
  }
}

.banner-left-section h1 {
  font-family: var(--font-sans) !important;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
  line-height: 2.2rem;
  width: 18.15094rem;
  @media screen and (max-width: 768px) {
    width: 15.954545rem;
    line-height: 2.2rem;
  }
}

.section-div {
  /* margin: 10px 5px; */
  padding: 2px;
  background-color: var(--clr1);
  border-radius: 5px;
}

.section-div p {
  font-family: var(--font-sans) !important;
  margin: 0;
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.section-div img {
  width: calc(88rem / 53);
  height: calc(80.83rem / 53);
  @media screen and (max-width: 768px) {
    width: val(--fss-33);
    height: val(--fss-33);
  }
}

.form {
  /* min-width: 40vw; */
  background-color: #ededed !important;
  box-sizing: border-box;
  @media (max-width: 768px) {
    width: 90% !important;
    margin: 20px auto;
  }
}

form > h1 {
  font-size: 1rem;
}

form > button {
  font-size: 0.6223rem;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
  background-color: var(--clr1) !important;
  border-radius: 4px;
}

input,
select {
  font-size: 0.6226rem;
  color: grey;
  width: 100% !important;
  padding: 16px 10px;
}

.card1 {
  all: unset;
  display: flex;
  align-items: center;
  margin: 20px;
}

.card1 img {
  height: var(--pic-s);
  width: var(--pic-s);
}

.card1 span {
  color: #2b2e33 !important;
  font-weight: 500;
  margin-left: var(--fss-33);
  width: 3.5283rem;
  font-size: 0.6226rem;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
    width: 5.63rem;
  }
}

.card1 button {
  font-size: 0.6226rem;
  @media screen and (max-width: 768px) {
    font-size: 0.727rem;
  }
}

.types-card {
  display: flex;
  justify-content: space-around !important;
}

.types-card h2 {
  font-size: var(--fss-2) !important;
  width: 6rem;
  height: 1.54716981rem;
  text-transform: capitalize;
  color: rgb(30, 29, 29);
  margin-top: 1.07692308rem !important;
  margin-bottom: 0.339622642rem !important;
  @media screen and (max-width: 768px) {
    font-size: var(--fss-16) !important;
    width: 7.3636rem;
    height: 2.818181rem;
    margin-bottom: 0 !important;
  }
}

.types-card div p:first-child {
  color: grey;
  font-size: 23px;
  margin: 0;
  font-weight: 600;
}

.types-card div p:last-child {
  font-weight: 600;
  color: var(--clr1);
  font-size: 23px;
  margin: 0;
}

.types-card div p {
  font-size: var(--fss-33) !important;
  @media screen and (max-width: 768px) {
    font-size: var(--fss-16) !important;
  }
}

.types-card > div {
  /* border-bottom: 2px solid rgb(209, 206, 206); */
  align-self: stretch;
  text-align: center;
  justify-content: center;
  padding-bottom: 5px;
}

/* .types-card button {
  font-size: 0.6226rem;
  width: calc(241rem / 53);
  height: 0.943346rem;
  border-radius: 0.098113208rem;
  font-weight: 500;
  margin: 10px;
  @media screen and (max-width: 768px) {
    font-size: 0.727rem;
    width: 4.54545rem;
    height: 1.3636rem;
    border-radius: 0.11545454rem;
  }
} */

button {
  color: #802a8f;
  border-radius: 5px !important;
  font-weight: 768;
}

.review-card {
  padding: 20px 0;
  background: #f0d0dd;
  border-radius: 5px;
  width: 15.4716rem;
  margin-top: 20px;
  text-align: center;
  @media (max-width: 768px) {
    width: 19.5rem;
  }
}

.review-card p {
  align-self: center;
  font-size: var(--fss-33);
  @media screen and (max-width: 768px) {
    font-size: var(--fss-16);
  }
}

.review-person {
  font-size: var(--fss-33);
  @media screen and (max-width: 768px) {
    font-size: var(--fss-16);
  }
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.guidance-card {
  width: 10.377rem;
  height: 8.207rem;
  margin: 10px;
  background-color: white;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    width: 18.5rem;
    height: 14.7rem;
  }
  /* @media (max-width: 572px) {
    width: 90vw;
    margin: 10px;
  } */
}

.guidance-card h5 {
  font-size: var(--fss-33);
  width: 8.9245rem;
  /* width: 17.95rem; */
  @media screen and (max-width: 768px) {
    font-size: var(--fss-1);
    width: 17.95rem;
  }
}

.guidance-card img {
  width: 2.63rem !important;
  height: 2.63rem !important;
  @media screen and (max-width: 768px) {
    width: 4.681rem !important;
    height: 4.681rem !important;
  }
}

.understanding-ct-scan-container {
}

.understanding-ct-scan-card-container > div {
  @media screen and (max-width: 768px) {
    width: 20.1818rem !important;
  }
}

.understanding-ct-scan-card-container img {
  width: 14.4339rem;
  height: auto;
  @media (max-width: 768px) {
    width: 20.18rem;
  }
}

.location-container {
  background-color: var(--clr1);
  color: white;
}

.location-container > div {
  flex-grow: 1;
  border-right: 1px solid white;
  width: 50%;
  @media screen and (min-width: 768px) {
    width: 25%;
  }
}

.location-container img {
  height: 1.3636rem;
  width: 1.3636rem;
  @media screen and (min-width: 768px) {
    width: 1.132rem;
    height: 1.132rem;
  }
}

.our-services-card {
  margin: unset;
  margin: 10px 0;
  width: unset !important;
  width: 24% !important;
  @media screen and (max-width: 768px) {
    width: 48% !important;
  }
}

.our-services-card p {
  line-height: 1;
}

.faq-inner-container {
  font-family: Source Sans Pro !important;
}

.faq-inner-container .accordion {
  font-family: Source Sans Pro !important;
  width: 90%;
  @media (min-width: 768px) {
    width: 48%;
  }
  margin: auto;
}

.myBtn {
  font-size: 0.49rem !important;
  @media screen and (max-width: 768px) {
    font-size: 0.5rem !important;
  }
}

.title {
  font-size: 1rem !important;
  font-weight: 700 !important;
}

.doctor-image {
  width: 2.9245283rem;
  height: 2.94339623rem;

  @media screen and (max-width: 768px) {
    width: 3.95454rem;
    height: 4.181818rem;
  }
}

.para {
  line-height: 1.2;
  margin: 0;
  padding: 0;
  max-width: 50vw;
  font-weight: 600;
  @media (max-width: 768px) {
    max-width: none;
    margin-bottom: 10px;
  }
}

strong {
  max-width: 20px !important;
  /* color: red; */
  align-self: center;
}

.rating-container {
  display: flex;
  flex-direction: ;
  align-items: center;
}

.rating-container img {
  width: 0.47rem;
  margin: 1px;
  @media (max-width: 768px) {
    width: 0.7727;
  }
}

.guidelines-section {
  background-color: #f4f4f4;
  padding: 10px 0;
}

.guidelines-section h2 {
  margin: 0;
  padding: 0;
}

.faq-inner-container .accordion-button {
  font-family: Source Sans Pro !important;
}
